@import "tailwindcss";

@theme {
  --color-gunmetal: #3d3f40;
  --color-camel: #a88859;
  --color-pitch-black: #1e1810;
  --color-pale-slate: #a4a4a6;
  --color-olive-wood: #807056;
  --color-charcoal: #5c5a58;
  --color-deep-crimson: #951717;
  --color-onyx: #141519;
  --color-dim-grey: #5e6265;
  --color-brown-bark: #6f4824;
  --font-antique: "Cinzel", serif;
}
html {
  scroll-behavior: smooth;
}
